{% extends 'GestionaleBundle:App:master.html.twig' %}

{% set module_id = 'c360.gwbase' %}
{% set module_name = 'Magazzino' %}
{% set title = 'Accessori' %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-md-12 text-right">
				{% if has_permission(prm_module, 'nuovo_accessorio') %}<a class="btn btn-success" href="{{ url('gw_accessori_nuovo') }}" title="Nuovo"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>{% endif %}
			</div>
		</div>
	</div>

	<table class="table table-hover" data-toggle="table" data-url="{{ url('gw_accessori_lista') }}" data-pagination="true" data-search="true">
		<thead>
		<th data-field="codice" data-valign="middle">Codice</th>
		<th data-field="descrizione" data-valign="middle">Descrizione</th>
		<th data-field="giacenza" data-valign="middle">Giacenza</th>
		<th data-valign="middle" data-align="center" data-formatter="buttons"></th>
		</thead>
	</table>

	<script>
		function buttons(value, row)
		{
			var output = '';

			output += '<a class="btn btn-info btn-sm" href="{{ url('gw_accessori_index') }}modifica/' + row.id + '" title="Modifica"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>';
			output += ' <a class="btn btn-danger btn-sm" onclick="eliminaAccessorio(' + row.id + ')" title="Elimina"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>';

			return output;
		}

		function eliminaAccessorio(id)
		{
			if (confirm('Vuoi davvero eliminare questo accessorio?'))
			{
				location.href = '{{ url('gw_accessori_index') }}elimina/' + id;
			}
		}
	</script>
{% endblock %}
