{% extends 'GestionaleBundle:App:master.html.twig' %}

{% set module_id = 'c360.gwaddonrisorse' %}
{% set module_name = 'Magazzino' %}
{% set title = 'Taglie' %}

{% block content %}
	{{ form_start(form) }}
	{{ form_errors(form) }}

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.gruppo_taglie) }}
				{{ form_widget(form.gruppo_taglie, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label(form.codice) }}
				{{ form_widget(form.codice, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label(form.descrizione) }}
				{{ form_widget(form.descrizione, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>

	<div>
		<button type="submit" class="btn btn-success">Invia</button>
		<a onclick="window.history.back()" class="btn btn-default" role="button">Indietro</a>
	</div>

	{{ form_end(form) }}
{% endblock %}
