{% extends 'GestionaleBundle:App:master.html.twig' %}

{% set module_id = 'c360.gwaddonrisorse' %}
{% set module_name = 'Magazzino' %}
{% set title = 'Taglie' %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-md-12 text-right">
				<a class="btn btn-success" href="{{ url('gw_taglie_nuovo') }}" title="Nuovo"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
			</div>
		</div>
	</div>

	<table class="table table-hover" data-toggle="table" data-url="{{ url('gw_taglie_lista') }}" data-pagination="true" data-search="true">
		<thead>
		<th data-field="codice" data-valign="middle">Codice</th>
		<th data-field="gruppo_taglie" data-valign="middle">Gruppo di taglie</th>
		<th data-field="descrizione" data-valign="middle">Descrizione</th>
		<th data-valign="middle" data-align="center" data-formatter="buttons"></th>
		</thead>
	</table>

	<script>
		function buttons(value, row)
		{
			var output = '';

			output += '<a class="btn btn-info btn-sm" href="{{ url('gw_taglie_index') }}modifica/' + row.id + '" title="Modifica"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>';
			output += ' <a class="btn btn-danger btn-sm" onclick="eliminaTaglia(' + row.id + ')" title="Elimina"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>';

			return output;
		}

		function eliminaTaglia(id)
		{
			if (confirm('Vuoi davvero eliminare questa taglia?'))
			{
				location.href = '{{ url('gw_taglie_index') }}elimina/' + id;
			}
		}
	</script>
{% endblock %}
